.app {
  --app-margin-vertical: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - var(--app-margin-vertical) * 2);
  margin-top: var(--app-margin-vertical);
}
.app > * {
  margin-bottom: 16px;
}
.app > *:last-child {
  margin-bottom: 0;
}

.app > header {
  flex: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.app > header > h1 {
  margin-bottom: 24px;
}
.app > header > nav {
  flex: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.app > section {
  flex: 1; /* with container `flex-direction: column`, grow/shrink vertically as necessary */

  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal centering */
  overflow: auto;
}
.app > section > * {
  margin-bottom: 12px;
}
.app > section > *:last-child {
  margin-bottom: 0;
}

.app > footer {
  flex: none;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically centered */
  margin-bottom: var(--app-margin-vertical);
}
.app > footer > * {
  margin-bottom: 12px;
}
.app > footer > *:last-child {
  margin-bottom: 0;
}
.app > footer > p {
  font-size: var(--theme-font-size-small);
}
